.deps
.dirstamp
autom4te.cache
aclocal.m4
*~
*.o
*.new
Makefile
Makefile.in
order.txt
install-sh
depcomp
missing
stamp-h1
compile
config.guess
config.h
config.log
config.status
config.sub
configure
core
lua*/src/*.a
Prototypes.h
config.h.in
libeditorconfig.a
